services:
  network:
    networks:
      - mazadak

  service-base-config:
    extends:
      service: network
    environment:
      SPRING_KAFKA_BOOTSTRAP-SERVERS: broker:9092
      JAVA_OPTS: "-Xms1g -Xmx2g"
      JAVA_TOOL_OPTIONS: "-javaagent:/app/libs/opentelemetry-javaagent-2.11.0.jar"
      OTEL_EXPORTER_OTLP_ENDPOINT: http://tempo:4318
      OTEL_METRICS_EXPORTER: none
      OTEL_LOGS_EXPORTER: none

  config-server-config:
    extends:
      service: service-base-config
    depends_on:
      configserver:
        condition: service_healthy
    environment:
      SPRING_CONFIG_IMPORT: configserver:http://configserver:18071/

  eureka-config:
    extends:
      service: config-server-config
    depends_on:
      eurekaserver:
        condition: service_healthy
    environment:
      EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://eurekaserver:18050/eureka/
